@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'cabin';
}

body {
    background-color: #EEEEEF;
}

/* ---- Header ---- */
header {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-top {
    display: flex;
    background-color: #10BBD5;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding-left: 52px;
    padding-right: 52px;
}

.menu-top img {
    height: 29px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cart p {
    color: #F8FDFE;
}

.cart img {
    height: 40px;
}

.menu-bottom {
    display: flex;
    height: 32px;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding-right: 52px;
    padding-left: 52px;
}

/* .menu-bottom p{

} */

.menu-bottom nav ul {
    list-style: none;
}

.menu-bottom nav ul li {
    display: inline-block;
    margin-left: 40px;
}

/* ---- Main ---- */
.topic {
    margin-top: 136px;
    margin-left: 52px;
    margin-right: 52px;
    padding-bottom: 24px;
    border-bottom: solid 1px #A8A8A8;

}

/* ---- Card ---- */
.card-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 24px;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 306px;
    height: 512px;
    background-color: #F8FDFE;
    border: solid 1px #A8A8A8;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
}

.badge {
    display: flex;
    position: absolute;
    top: 32px;
    left: 32px;
    gap: 4px;
}

.hit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8FDFE;
    background-color: #4200FF;
    width: 36px;
    height: 32px;
    border-radius: 4px;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    border-radius: 4px;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8FDFE;
    background-color: #AF39E7;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    border-radius: 4px;
}

.card-img {
    margin-top: 32px;
    width: 178px;
    height: 280px;
    padding-left: 32px;
    padding-right: 32px;
}

.card-description {
    margin-top: 16px;
}

.card-description h3 {
    border-bottom: solid 1px;
    border-color: #A8A8A8;
}

.card-description p {
    color: #8E8E8E;
}

.price-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.price {
    color: #E90000;

}

.old-price {
    color: #8E8E8E;
    text-decoration: line-through;
}

.btn-add {
    margin-top: 16px;
    height: 40px;
    border-style: none;
    border-radius: 4px;
    background-color: #4C394E;
    color: #F8FDFE;
}

.btn-end {
    margin-top: 16px;
    height: 40px;
    border-style: none;
    border-radius: 4px;
    background-color: #4D762D;
    color: #F8FDFE;
}

/* ---- Footer ---- */

footer {
    margin-top: 120px;
    height: 88px;
    width: 100%;
    box-sizing: border-box;
    background-color: #4C394E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 52px;
    padding-right: 52px;
}

footer p {
    color: #F8FDFE;
}

.chat-container{
    position: fixed;
    bottom: 90px; 
    right: 28px; 
}

.chat-btn {
    border-radius: 100%;
    background-color: #10BBD5;
    width: 64px;
    
    height: 64px;
    border-style: none;
}